:root {
    --green1: #01AC66;
    --green2: #27C383;
    --purple: #7F3992;
    --titles: #707070;
    --subtitles: #868686;
    --numbers: #888888;
    --divider: #EBEBEB;
    --cor8: #E2E2E2;
    --cor9: #F4F4F4;
    --cor10: #ADC0C4;
    --yellow: #F79C31;
    --titleBottomBorder: #B5C401;
    --background: #F7F7F7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    background-color: var(--background);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    color: var(--titles);
    font-weight: bold;
    border-bottom: 2px solid var(--divider);
    padding: 2vh 10vw 0 10vw;
}

header div {
    display: flex;
    align-items: center;
}

.titleBar{
    position: absolute;
    left: 9.5vw;
    top: 8.85vh;
    background: #B5C401;
    height: 7px;
    width: 107px;
    border-radius: 20px;
}
header div p {
    margin-left: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 10vw;
}

h1 {
    font-size: 44px;
    border-radius: 6px;
    margin-right: 34px;
}

.gameDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 73.5px;
    padding-bottom: 145px;
}

.subtitle {
    color: var(--subtitles);
    font-size: 24px;
    font-style: italic;
    margin-bottom: 13px;
}

.subtitle2 {
    font-size: 17px;
    color: var(--subtitles);
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

[data-js="gameDescription"] {
    font-weight: normal;
    margin: 10px 0;
    padding-right: 10px;

}

.gameSelect {
    border: 3px solid var(--cor10);
    color: var(--cor10);
    background-color: #FFF;
    width: 113px;
    height: 33px;
    border-radius: 100px;
    margin: 20px 25px 20px 0;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
}

.gameSelect:hover{
    filter: brightness(1.1);
}

.buttonBottom1 {
    background: none;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--green1);
    color: var(--green1);
    font-size: 16px;
    font-weight: 500;
    margin-right: 25px;
    cursor: pointer;

    transition: 0.15s ease;
}
.buttonBottom1:hover{
    filter: brightness(1.03);
}
.buttonBottom1:active{
    background: var(--green1);
    color: #FFF;
}
[data-js="bottomButtons"]{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-right: 20px;
}
.buttonBottom2 {
    background: var(--green1);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--green1);
    color: #FFF;
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.buttonBottom2:hover{
    filter: brightness(1.03);
}
.buttonBottom2:active{
    filter: brightness(1.15);
}
.buttonBottom2 i {
    margin-right: 10px;
}

.divCart {
    align-content: flex-start;
    margin-top: 41.5px;
    display: flex;
    flex-direction: column;

}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    border: 1px solid var(--cor8);
    font-size: 15px !important;
    background: white;
    width: 317px;

}

.divCart button {
    width: 100%;
    border: none;
    height: 96px;
    color: var(--green2);
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    border-top: 1px solid var(--cor8);
    cursor: pointer;
}

.cartItem {
    display: flex;
    height: 86px;
    padding-right: 15px;
    padding-left: 15px;
}

.cartItem button {
    max-width: 45px;
    color: var(--numbers);
    background: none;
    border: none;
    font-size: 24px;
}
i {
    margin-right: 14px;

}

.cartItem p {
    color: var(--subtitles);
    font-size: 15px !important;
    font-weight: bold;
    font-style: italic;
}

.cartItem p span {
    font-weight: normal;
}

.cartItemDetails {
    border-radius: 5px;
    font-size: 15px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.numbersCart{
    word-break: break-word;
}

.cartTitle {
    color: var(--titles);
    font-size: 24px;
    font-style: italic;

    padding: 32px 16px 47px 16px;
}

.numberDetails {
    font-size: 15px !important;
}


.buttonNumberTable{
    background: none;
    border: none;
    height: 65px;
    width: 63px;
    border-radius: 100%;
    background: #ADC0C4;
    color: white;
    font-weight: bold;
    margin: 8px;
    font-size: 20px;
}
.buttonNumberTable:hover{
    filter: brightness(0.95);
}

table{

    margin-bottom: 20px;
    margin-right: 20px;
}

footer{
    display: flex;
    color: var(--titles);
    border-top: 2px solid var(--divider);
    font-size: 15px;
    padding-top: 30.5px;
    padding-bottom: 30.5px;
    align-content: center;
    justify-content: center;
    height: 75.5px;
}
