:root{
    --green1: #01AC66;
    --green2: #27C383;
    --purple: #7F3992;
    --titles: #707070;
    --subtitles: #868686;
    --numbers: #888888;
    --divider: #EBEBEB;
    --cor8: #E2E2E2;
    --cor9: #F4F4F4;
    --cor10: #ADC0C4;
    --yellow: #F79C31;
    --titleBottomBorder: #B5C401;
    --background: #F7F7F7;
}